{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-object-rest-spread", 
    "transform-async-to-generator"
  ],
  "env": {
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".css", ".scss"]
          }
        ]
      ]
    }
  }
}