html {
  height: 100%;
}

body {
  min-height: 100%;
}

#react-app {
  display: flex;
  height: 100%;
  overflow: auto;
}

.navigation-menu {
  position: relative;
  display: flex;
  .navigation-menu-logout-btn {
    display: flex;
    align-items: center;
    padding: 0px 8px 0 2px;
  }
}

.navigation-menu a {
  padding: 0 12px;
  text-decoration: none;
  color: #fff;

  &.active {
    background-color: #108ee9;
  }
}

.navigation-menu-user-details {
  position: absolute;
  top: 0;
  right: 0;
  width: 99px;
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  justify-content: flex-end;
}

.footer-menu-user-info {
  flex: 1;
  line-height: 15px;
  padding-right: 13px;
  text-align: right;
}